.top {
    margin: 40px;
  }
  
  input[type="file"] {
    display: none;
  }
  
  .choose {
    background-color: initial;
    background-image: linear-gradient(-180deg, #92659f, #b17ed3);
    border-radius: 6px;
    color: #000000;
    padding: 5px 10px;
    border-radius: 6px;
    margin-right: 10px;
    padding-bottom: 10px;
  }
  .choose:hover {
    box-shadow: rgba(179, 105, 215, 0.5) 0 3px 8px;
  }
  .textArea {
    color: white;
    color: #bd5fe0;
  }
  
  .upload {
    border: 1px solid #985daf;
    background-color: #9c59b4;
    color: #000000;
    padding: 5px 10px;
    border-radius: 6px;
    margin-left: 10px;
  }
  
  .upload:hover {
    border: 1px solid #985daf;
    background-color: #71308a;
    color: #ffffff;
    padding: 5px 10px;
  }
    
  div {
    padding: 5px 10px;
  }